venv/
*.pyc
__pycache__/
**/__pycache__/
upload/
code/upload/
.vscode*
.continue*
*.parquet
node_modules/
package*.json
auth_salesforce.json
GEMINI.md
.playwright-mcp/
code/data.db
mcp/.venv/
.suse_credentials.json
.happy_sar_credentials.json
auth_salesforce.json
