altair
bokeh==3.8.2
connectorx
geckodriver-autoinstaller
numpy
pandas
pillow
polars
pypdf
python-magic
pytz
redis
selenium
SQLAlchemy
streamlit
streamlit-bokeh==3.8.2
streamlit-option-menu
vegafusion[embed]
vl-convert-python
vulture
watchdog
