altair==6.0.0
bokeh==3.8.2
connectorx==0.4.5
geckodriver-autoinstaller==0.1.0
numpy
pandas
pillow
polars
pypdf
python-magic
pytz
redis==7.1.0
selenium
SQLAlchemy
streamlit
streamlit-bokeh
streamlit-option-menu
vegafusion[embed]
vl-convert-python
vulture
watchdog
